.yoe {
    position: relative;
    /* background: linear-gradient(to right,#133995, #041643); */
    flex-direction: column;
    top: 0;
    /* padding: 10px; */
    width: 100%;
    height: 100%;
    gap: 5%;

    justify-content: center;
    align-items: center;

    /* outline: dashed pink; */
}

.center-container {
    /* position: relative; */
    /* top: 200px; */

    justify-content: center;
    align-items: center;
    gap: 5%;

    width: 80%;
    height: 700px;

    /* outline:solid green; */
}
.ice{
    margin: -1px 0 0 0;
    position: relative;
    /* top: -10; */
    width: 100%;
    max-height: 325px;

    /* outline: 2px solid purple; */
}
.ice img {
    position: relative;
    width: 100%;
    /* max-height: 325px; */
}

.pic-grid {
    display: grid;
    width: 600px;
    height: 500px;
    gap: 20px;
    /* outline: dotted red; */
}

/* grid-area: row-start / col-start / row-end / col-end */
.item-1 {
    grid-area: 1 / 1 / 4 / 3;
    background-position: 90% 45%;
}
.item-2 {
    grid-area: 4 / 1 / 6 / 3;
    background-position: 100% 0%;
}
.item-3 {
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 7%;
    color: white;
    background-color: rgba(4, 22, 67, 0.65);
    grid-area: 1 / 3 / 2 / 5;
}
.item-3 p {
    width: wrap;
    height: wrap;
    max-width: 75px;
    margin: 0;
}
.item-3 h1 {
    width: wrap;
    height: wrap;
    margin: 0;

}
.item-4 {
    grid-area: 2 / 3 / 6 / 5;
    background-position: 35% 0%;
}
.bg {
    width: 275px;
    height: 100%;
    border-radius: 20px;

    background-size:cover;
    background-repeat: no-repeat;
}

.description-container {
    z-index: 1;

    flex-direction: column;
    justify-content: space-evenly;
    gap: 10%;

    width: 700px;
    height: 500px;
    /* outline: dashed yellow; */

    color: white;
}
.description-text {
    flex-direction: column;
}
.description-text h1 {
    margin: 0 0 2%;
}
.description {
    width: 95%;
    /* outline: dotted green; */
}

.squares {
    justify-content: space-evenly;
    width: 100%;
    gap: 24px;
    /* height: 100%; */
    /* outline: solid white; */
}


.square {
    align-items: center;
    width: 100%;
    height: 238px;

    background-color: rgb(4, 22, 67, 0.40);
    border: 1px solid rgb(255, 255, 255, 20%);
    border-radius: 9%;
}
.square-container {
    justify-content: space-evenly;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    height: 100%;
}
div.square-container ul {
    display: flex;
    flex-direction: column;
    align-items:start;

    gap: 10px;
    margin: 0;
    padding: 0 15px;
    list-style: none;
}
div.square-container li {
    display: flex;
    align-items: center;
    gap:10px;
}
.highlight-container {
    align-items:center;
    max-width: 200px;

    gap: 20px;
    margin: 0 auto;
    /* outline: solid saddlebrown; */
}
.highlight-container h3 {
    margin: 0;
}

.circle-temp {
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 100%;
    max-width: 45px;

    background-image: linear-gradient(to bottom right, rgb(255,255,255,0.35), rgb(255,255,255,0.10));
    border-radius: 50%;
}

/* .filter-blue {
    filter: invert(12%) sepia(91%) 
    saturate(3432%) hue-rotate(224deg) 
    brightness(89%) contrast(91%);
} */

/* 133995 */
div.description-container a {
    color: #133995;
    justify-content: center;
    align-items: center;
    
    padding: 10px 15px;
    width:fit-content;
    white-space: nowrap;
    
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    border-color:transparent;
    
    /* outline: thick solid pink; */
}
.contact-icon-yoe {
    margin-right: 5px;
}
.snowflakes-container {
    /* width: 60%; */
    height: 100%;
    position: absolute;
    top: 250px;
    right: 0;
    bottom: 0;
    user-select: none;
    pointer-events: none;
}