.prod-hero {
    justify-content: center;
    padding: 85px 40px 9px;
    width: 100%;
    height: 100vh;
    /* outline: solid black 2px; */
}

.prodhero-container {
    position: relative;
    color: white;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    background: var(--main-gradient);
    border-radius: 50px;
    overflow: hidden;
}
.prodhero-container > img {
    position: absolute;
    rotate: calc(15deg);
    top: -370px;
    left: -240px;
}

.prodhero-info-container {
    z-index: 1;
    width: 750px;
    flex-direction: column;
    justify-content: center;
    gap: 0;
    height: 90%;
}
.prodhero-title {
    width: fit-content;
    /* outline: solid 2px white; */
}
.prodhero-title h1 {
    margin: 0;
}
.prodhero-info {
    width: fit-content;
    /* outline: dotted 2px green; */
}
.prodhero-btn {
    color: var(--primary-color);
    justify-content: center;
    align-items: center;
    
    gap: 10px;
    padding: 10px 10px;
    width:fit-content;
    white-space: nowrap;
    
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    border-color:transparent;
    /* outline: thick solid pink; */
}
.prodhero-btn > div {
    justify-content: center;
    align-items: center;
    
    /* height: 40px; */
    /* width: 40px; */
    padding: 10px;

    border-radius: 50%;
    background: var(--primary-color);
}

.prodhero-img-container {
    position: relative;
    color: white;
    width: 600px;
    height: 90%;
    border-radius: 35px;
    background-repeat: no-repeat;
    background-position: top 70% left 50%;
    background-size: cover;
    /* outline: solid 3px purple; */
}
.prodtag {
    color: white;
    position: absolute;
    left: -120px;
    bottom: 50px;

    justify-content: center;
    align-items: center;

    width: 300px;
    height: 70px;

    border-radius: 20px;
    border: solid 1px white;
    background: linear-gradient( to bottom right, rgb(255, 255, 255, 0.4), rgb(255, 255, 255, 0.1));
    backdrop-filter: blur(5px);
}

.prodinfo-container {
    width: 90%;
    justify-content: space-between;
    align-items: center;
    /* height: fit-content; */
    /* outline: solid 2px blue; */
}
/* .serinfo-container p {
    outline: solid 2px whitesmoke;
} */
div.prodinfo-container div {
    color: var(--primary-color);
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #D5EAFF;
    /* outline: solid 2px whitesmoke; */
}