.about-container {
    position: relative;
    flex-direction: column;
    width: 80%;
    margin: 5% auto;
    
    /* outline: dotted purple; */
}
.about-text {
    flex-direction: column;
    max-width: 580px;

    margin: 0 5%;
}
.about-text h2{
    color: #133995
}
.image-container {
    width: 70%;
    height: 70%;
    align-self: end;

    margin: 5% 5% 2%;
    /* outline: dotted black; */
}
.image-container img {
    display: block;
    width: 100%;
    max-width: 1300px;
    height: auto; 
}

.data{
    color: #133995;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    /* height: 300px; */

    padding: 1% 10% 1%;
    /* outline: solid salmon; */
}

.bg-snowflake {
    z-index: -1;
    position: absolute;
    top: 0px;
    right: 2%;
    
}

ul.data li {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    list-style-type: none;
    height: 200px;
    width: 300px;
    /* outline: dotted #133995; */
}
/* ul.data li div {
    max-width: 50%;
} */