.flex {
    display: flex;
}

.hservices {
    z-index: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1000px;
    width: 100%;
    gap: 5%;

    color: #ffffff;

    /* outline: solid black; */
}

.hs-description {
    flex-direction: column;
    /* align-items: center; */
    /* width: 70%; */
    max-width: 1400px;

}

.hs-description h1 {
margin: 0 0.3% 15px;
}

.hs-description p {
margin: 1em 0 2em;
}
.hs-description a {
    color: #133995;
    justify-content: center;
    align-items: center;
    
    padding: 10px 15px;
    width:fit-content;
    white-space: nowrap;
    
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    border-color:transparent;
    
    /* outline: thick solid pink; */
} 

.services-container {
    justify-content: center;
    align-items: center;

    width: 1400px;
    height: 575px;

    /* outline: solid slateblue; */
}
.services-pic {
    /* min-width: 440px; */
    /* width: 600px; */
    width: 700px;
    height: 100%;
    padding: 10px;

    border: 2px solid #ffffff;
    border-radius: 15px;
    
}
div.services-pic div {
    width: 100%;
    height: 100%;

    border-radius: 10px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60%;
}

.services-grid {
    position: relative;
    display: grid;
    width: 700px;
    height: 100%;
    margin: 0 15px;
    gap: 2%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.sitem-1 {
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: rgb(4, 22, 67, 0.65);
    /* outline: solid greenyellow; */
}
.sitem-container {
    height: 100%;
    width: 100%;
    flex-direction: column;
    padding: 30px 20px;
    
    justify-content: space-between;
    /* outline: 2px solid green; */
}
.sitem-container h3 {
    margin: 10px 0;
}
.sitem-container p {
    margin: 0;
}

.services-grid img {
    user-select: none;
    pointer-events: none;
    position: absolute;
    width: 100%;
    min-width: 50%;
    height: 90%;
    min-height: 50%;

    top: 5%;
    bottom: 5%;
    

}

.blur {
    filter:blur(5px)
}