.flex {
    display: flex;
}

.hero{
    /* justify-content: start;
    align-items: start; */

    /* TODO */
    padding: 80px 32px 9px;
    width: 100%;
    height: 100vh;
    /* outline: dotted red; */

    /* outline: thick solid pink; */
}
.container {
    justify-content: start;
    align-items: end;

    width: 100%;
    height: 100%;
    border-radius: 50px;
    /* margin: 0% 2% 2%; */
    /* padding:24px; */
    
    background-size:cover;
    background-position: 90% 45%;
    background-repeat: no-repeat;

    position: relative; 
}
.hero-text {
    flex-direction: column;
    color: white;
    
    margin: 6% 3%;
    max-width: 60%;

    position: absolute;
    bottom: 0;
    left: 0;

    /* outline:thick dotted black; */
}
div.hero a {
    color: rgb(255, 255, 255);

    padding: 10px 15px;
    width:fit-content;
    white-space: nowrap;
    
    background-color: #133995;
    border-radius: 50px;
    border-color:transparent;
}
.contact-icon-hero {
    margin-right: 5px;
}