.hero{
    /* justify-content: start;
    align-items: start; */
    padding: 85px 40px 9px;
    width: 100%;
    height: 100vh;
    /* outline: thick solid pink; */
}
.container {
    position: relative;
    justify-content: start;
    align-items: end;

    width: 100%;
    height: 100%;
    border-radius: 50px;
    /* margin: 0% 2% 2%; */
    /* padding:24px; */
    
    background-size:cover;
    background-position: 90% 45%;
    background-repeat: no-repeat;
}
.hero-text {
    flex-direction: column;
    color: white;
    
    margin: 6% 3%;
    max-width: 60%;

    position: absolute;
    bottom: 0;
    left: 0;

    /* outline:thick dotted black; */
}
div.hero a {
    color: white;
    justify-content: center;
    align-items: center;
    
    gap: 10px;
    padding: 10px 10px;
    width:fit-content;
    white-space: nowrap;
    
    background-color: var(--primary-color);
    border-radius: 50px;
    border-color:transparent;
    /* outline: thick solid pink; */
}
div.hero a > div {
    justify-content: center;
    align-items: center;
    
    /* height: 40px; */
    /* width: 40px; */
    padding: 10px;

    border-radius: 50%;
    background: white;
}
.contact-icon-hero {
    margin-right: 5px;
}