.prod-section1 {
    justify-content: space-between;
    padding: 7% 10%;
    height: auto;
    width: 100%;
    

    /* outline: solid 1px green; */
}
.container-info-prod-section1 {
    flex-direction: column;
    gap: 50px;
}
.info-prod-section1 > h1 {
    color: var(--primary-color);
}
.info-prod-section1 > p {
    max-width: 250px;
}
.prevnext-container{
    gap: 10px;
}
.prevnext-btn {
    color: var(--primary-color);
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;

    border-radius: 50%;
    border: solid 2px var(--primary-color);
}
.prev-btn {

    /* background-color: aqua; */
}
.next-btn {
    color: white;
    background-color: var(--primary-color);
}

.carousel-container {
    width: 600px;
    height: auto;

    gap: 50px;

    /* outline: dashed 2px red; */
}
.card {
    flex-direction: column;
    width: 355px;
    height: 430px;

    border-radius: 10% ;
    overflow: hidden;

    box-shadow: 0px 0px 15px rgb(0 0 0 / 0.1);

    /* outline: dotted 2px rgb(62, 43, 18); */
}
.card-media {
    width: 100%;
    height: 300px;
    margin: 0;
}
.card-media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-header {
    justify-content:space-between;
    align-items: center;

    padding: 10px 30px;
}
.card-header-text {
    flex-direction: column;
    max-width: 150px;
}
.card-header-text h3, p  {
    margin: 0;
}
.card-icon {
    color:  var(--primary-color);
    width: 50px;
    height: 50px;

    justify-content: center;
    align-items: center;

    border-radius: 50%;
    background-color: #D5EAFF;
}