.flex {
 display: flex;
}

.navbar {
    background-color: white;
    z-index: 100;

    justify-content: space-between;
    align-items: center;
    padding: 5px 0 0 15px;
    top: 0px;
    left: 0px;
    right: 0;
    width: 100%;
    position: fixed;

    /* outline: dotted red; */
}
.logo{
    width: auto;
    /* margin: 2px 10px; */
    /* padding:  0 3px; */
    height: 70px;
    /* outline: dotted red; */

}
/* a.logo img {
    width: 70%;
} */
.links {
    justify-content:space-evenly;
    align-items: center;
    margin: 16px 25px;

    /* padding: 0 15px 0 0; */
    height: 100%;
    /* max-width: 500px; */
    /* outline:dashed blue; */
}
ul.links li {
    list-style: none;
}
.link {
    margin: 0 50px 0 0;
    /* outline: dotted green; */
    
}

/* a inside ul's with links class */
ul.links li a {
    z-index: 1000;
    color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;

    padding: 10px 15px;
    width:fit-content;
    white-space: nowrap;
    
    background-color: #133995;
    border-radius: 50px;
    border-color:transparent;

    /* outline: thick solid pink; */
}

.btn-rotation {
    --fa-rotate-angle: -45deg;
}
.contact-icon-navbar {
    margin-left: 5px;
}