.flex {
 display: flex;
}
.navbar {
    flex-direction:row;
    justify-content: space-between;
    /* margin: 2px; */
    top: 0px;
    width: 100vw;
    position: static;
    /* outline: dotted red; */
    align-items: center;
}
.logo{
    margin: 5px 10px;
    padding: 3px;
    width: 35%;

}
.links {
    height: 100%;
    /* width: 400px; */
    max-width: 450px;
    justify-content:space-evenly;
    align-items: center;
    /* outline:dashed blue; */
    margin: 16px 25px;
}
.link {
    margin: 0 50px 0 0;
    /* outline: dotted green; */
    
}
.link-contact {
    color: rgb(255, 255, 255);

    width:fit-content;
    padding: 10px 15px;
    white-space: nowrap;
    border-radius: 29px;
    background-color: #133995;
    border-color:transparent;
}

.hero {
    justify-content: center;
    align-items: center;
    
    height: 85dvh;
    border-radius: 50px;
    margin:  2%;
    
    position: relative; 
    background-size:cover;
    background-position: 90% 45%;
    background-repeat: no-repeat;
}

.hero-text {
    flex-direction: column;
    color: white;
    
    max-width: 60%;
    bottom: 0;
    left: 0;
    margin: 6% 3%;
    
    position: absolute;

    /* outline:thick dotted black; */
}