.flex {
 display: flex;
}

.navbar {
    background-color: white;
    z-index: 100;

    justify-content: space-between;
    align-items: center;
    /* padding: 2px 15px; */
    top: 0px;
    left: 0;
    right: 0;
    width: 100%;
    position: fixed;

    /* outline: dotted red; */
}
.logo{
    margin: 5px 10px;
    padding:  0 3px;
    height: 75px;

}
.links {
    justify-content:space-evenly;
    align-items: center;
    margin: 16px 25px;

    /* padding: 0 15px 0 0; */
    height: 100%;
    /* max-width: 500px; */
    /* outline:dashed blue; */
}
.link {
    margin: 0 50px 0 0;
    /* outline: dotted green; */
    
}
.link-contact {
    color: rgb(255, 255, 255);

    padding: 10px 15px;
    width:fit-content;
    white-space: nowrap;
    
    background-color: #133995;
    border-radius: 50px;
    border-color:transparent;

    /* outline: thick solid pink; */
}
