.footer-container {
    padding: 10px 0 10px;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    
    width: 100%;
    height: fit-content;
    
    color: #001B69;
}
.page-services ~ .footer-container {
    color: white;
    background-color: #001B69;
}

.top-footer {
    justify-content: space-between;
    width: 90%;
    padding: 0 0 15px;

    /* outline: dashed orange; */
}
.info-footer {
    flex-direction: column;
    justify-content: center;

    /* outline: dotted grey; */
}
.info-footer img{
    width: 80%;
}

.details-container {
    flex-direction: column;
    padding: 0;
    gap: 20px;
}
.footer-detail {
    align-items: center;
    max-width: 310px;
    gap: 10px;
    /* outline: dotted greenyellow; */
}
.detail-icon {
/*  */
}

.map-links-footer {
    flex-direction: column;
    align-items:flex-end;

    /* width: 600px; */

    /* outline:ridge fuchsia; */
}
div.pages-footer ul {
    flex-direction: row;
    gap: 15px;
    padding: 0;
    /* outline: solid rgb(74, 163, 114); */
}
div.pages-footer li {
   list-style: none;
}
div.pages-footer a {
    color: #001B69;
}
.page-services ~ .footer-container div.pages-footer a {
    color: white;
}
.map-footer {
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 350px;
    outline: dotted skyblue;
}

.bottom-footer {
    position:relative;
    justify-content: space-between;
    bottom: 0;

    width: 90%;
    padding: 30px 0 0px;
    /* height: 150px; */
    border-top:solid 1px #DDDDDD;
    /* outline: solid 1px green; */
}
.page-services ~ .footer-container .bottom-footer {
    border-top: solid 1px white;
}