#root {
  /* overflow: visible; */
  /* max-width: 100vw; */
}

.bg-yoe-hs {
    position: relative;
    z-index: -10;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,#133995, #041643);

}