.contact-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    padding: 20px;
    padding-top: 85px;
    background-image: var(--main-gradient);
}
.csnowflake1 {
    position: absolute;
    left: 0;
    bottom: 300px;
    rotate: 30deg;
}
.csnowflake2 {
    position: absolute;
    top: 500px;
    right: 50px;
    height: 15%;
    rotate: 10deg;
}
.csnowflake3 {
    position: absolute;
    top: 100px;
    right: 500px;
    height: 10%;
    rotate: -15deg;
}
.csnowflake4 {
    position: absolute;
    bottom: 0;
    left: 600px;
    height: 25%;
    rotate: -30deg;
}
.csection {
    position: relative;
    height: wrap;
    width: 70%;

    flex-direction: row;

    justify-content: center;
    align-items: center;

    padding: 48px;
    border-radius: 32px;
    border: solid 1px #D5EAFF;
    background-image: linear-gradient(
        to left, 
        rgb(19, 57, 149,0.2),
        rgb(213, 234, 255, 0.15));
    backdrop-filter: blur(5px);
    
    overflow-x: clip;
    color: white;
    overflow: visible;
}
.csection-title {
    position: absolute;
    top: -100px;
    left: 0;
    font-weight: 700;
}
.csection-title h1 {
    margin: 0;
}
form {
    width: 100%;
    height: 100%;
}
label {
    display: block;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    opacity: 0.7;
}
.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin-bottom: 16px;
}
.form-row-full {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    margin-bottom: 16px;
}

.glass-input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 14px;
}

.email{
    margin-bottom: 16px;
}
.text-area {
    justify-content: center;
    width: 100%;
    padding: 12px 16px;
    border-radius: 14px;
    min-height: 100px;
}


.form-btn {
    width: 100%;
    justify-content: center;
	padding: 12px 24px;
	border-radius: 30px;
	border: none;
	cursor: pointer;
	font-weight: 500;
	letter-spacing: 0.04em;
	color: white;
    transition: 180ms ease-in-out;
    background-color: var(--primary-color);
}

.form-btn:hover {
    translate: 0 -2px;

	/* background: linear-gradient( 135deg, rgba(94, 231, 223, 0.5) 0%, rgba(59, 130, 246, 0.5) 100% );
	border: 1px solid rgba(94, 231, 223, 0.45);*/
	box-shadow: 0 4px 24px rgba(0, 47, 255, 0.3), inset 0 1px 1px rgba(153, 255, 0, 0.45), inset 0 -1px 1px rgba(255, 0, 0, 0.1);
}


.more-info {
    position: absolute;
    padding: 15px;
    color: white;

    bottom: 40px;
    left: 40px;

    border: solid 2px #D5EAFF;

    border-radius: 50%;
    background: none;

    cursor: pointer;

    animation: 
    2s ease-in-out infinite bounce;
}

@media (max-width: 800px) {
    .contact-wrapper {
        height: 100%;
        padding: 200px 0 100px;
    }
    .csection {
        width: clamp(350px, 70%, calc(100%));
    }
    
    .form-row {
        grid-template-columns: 1fr;
    }
    .csnowflake1 {
        height: 20%;
    }
    .csnowflake2 {
        top: 300px;
    }
    .csnowflake3 {
        left: 200px;
    }
    .csnowflake4 {
        left: 250px;
    }
}
@media (max-height: 1000px ){
    .contact-wrapper {
        padding: 200px 0 100px;
        height: wrap;
        min-height: 800px;
    }
    .csection-title {
        top: -60px;
    }
}
@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0);
    }
}
