.flex{
    display: flex;
}

.yoe {
    position: relative;
    background: linear-gradient(to right,#133995, #041643);

    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 500px;
    /* outline: dashed pink; */
}
.yoe img {
    position: absolute;
    
    top: 0;
    left: 0;
    width: 100%;
}

.pic-grid {
    display: grid;
    grid-template-columns: 2;
}